
.first {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 100px 80px 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left ul, .right ul {
    display: flex;
    gap: 15px;
}

li a {
    text-decoration: none;
    color: white;
    font-size:  24px;
}

li a:hover {
    font-size: 28px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button{
    text-decoration: none;
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: #6d9ff0;
}

.first-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.first-content img {
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.header {
    font-size: 36px;
    font-weight: bolder;
    color:  #1F2937;
    margin-bottom: 30px;
}
.item img {
    border-radius: 10px;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 30px 100px 80px 100px;
    align-items: center;
}


.items {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.item {
    max-width: 200px;
}

.item p {
    text-align: center;
}

.third {
    background-color: #E5E7EB;
    padding: 100px 400px 100px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.third div {
    font-weight: bolder;
    align-self: end;
}

.fourth {
    padding: 80px 300px 80px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 50px;
    background-color: #3882F6;
    color: white;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.sign-header {
    color: white;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lighter {
    font-weight: lighter;
}

.sign-button{
    background-color: #3882F6;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 10px;
}

.container a:hover {
    background-color: #6d9ff0;
    font-size: 24px;
}

footer {
    background-color: #1F2937;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

