
.first {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 100px 80px 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left ul, .right ul {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size:  24px;
}

a:hover {
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button{
    background-color: #3882F6;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}

.first-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.first-content img {
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.header {
    font-size: 36px;
    font-weight: bolder;
    color:  #1F2937;
    margin-bottom: 30px;
}
.item img {
    border-radius: 10px;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 30px 100px 80px 100px;
    align-items: center;
}


.items {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.item {
    max-width: 200px;
}

.item p {
    text-align: center;
}

.third {
    background-color: #E5E7EB;
    padding: 100px 400px 100px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.third div {
    font-weight: bolder;
    align-self: end;
}